<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				            http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
				            http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
				            http://cxf.apache.org/core  http://cxf.apache.org/schemas/core.xsd">

    <!--通过spring发布webservice服务-->

<!-- =================================== 发布服务方式一 ========================================== -->
    <!-- 1.创建 天气服务对象-->
<!--        <bean id="weatherService" class="com.syx.weather.WeatherInterfaceImpl"></bean>-->


    <!--2.发布服务-->
<!--        <jaxws:server address="/weather" serviceClass="com.syx.weather.WeatherInterface">-->
<!--            <jaxws:serviceBean>-->
<!--                <ref bean="weatherService"></ref>-->
<!--            </jaxws:serviceBean>-->
<!--        </jaxws:server>-->

<!-- =================================== 发布服务方式二 ========================================== -->
        <jaxws:endpoint address="/weather" implementor="com.syx.weather.WeatherInterfaceImpl"></jaxws:endpoint>
</beans>